Repository benchttp/engine, pull requests merged in 2022-08, with the labels that each got.

#13 feat: websocket server poc
  cmd/server/main.go
  go.mod
  go.sum
  internal/configparse/json.go
  internal/configparse/parse.go
  internal/configparse/parser.go
  internal/configparse/parser_internal_test.go
  internal/websocketio/io.go
  server/handler.go
  server/message.go
  server/run.go
  server/server.go
  server/service.go
  server/state.go
  server/stop.go
  server/upgrader.go
Labels: must have, scope:server

#16 feat: implement test suites on computed metrics
  cmd/benchttp/run.go
  internal/configparse/error.go
  internal/configparse/parse.go
  internal/configparse/parse_test.go
  internal/configparse/testdata/valid/benchttp.json
  internal/configparse/testdata/valid/benchttp.yaml
  internal/configparse/testdata/valid/benchttp.yml
  internal/errorutil/errorutil.go
  runner/internal/config/config.go
  runner/internal/config/field.go
  runner/internal/metrics/aggregate.go
  runner/internal/metrics/compare.go
  runner/internal/metrics/field.go
  runner/internal/metrics/metrics.go
  runner/internal/metrics/metrics_test.go
  runner/internal/report/report.go
  runner/internal/report/report_test.go
  runner/internal/tests/predicate.go
  runner/internal/tests/predicate_test.go
  runner/internal/tests/tests.go
  runner/internal/tests/tests_test.go
  runner/runner.go
Labels: must have, scope:core, scope:server, scope:cli

#28 chore: remove templating logics
  README.md
  examples/config/full.yml
  examples/output/templating.md
  internal/cli/configflags/bind.go
  internal/cli/configflags/bind_test.go
  internal/configparse/parse.go
  internal/configparse/parse_test.go
  internal/configparse/testdata/valid/benchttp.json
  internal/configparse/testdata/valid/benchttp.yaml
  internal/configparse/testdata/valid/benchttp.yml
  runner/internal/config/config.go
  runner/internal/config/default.go
  runner/internal/config/field.go
  runner/internal/config/field_test.go
  runner/internal/report/report.go
  runner/internal/report/report_test.go
  runner/internal/report/template.go
  runner/internal/report/template_internal_test.go
  runner/runner.go
Labels: nice to have, scope:core, scope:cli

#32 poc: http stream (demo only)
  cmd/server/main.go
  go.mod
  go.sum
  internal/websocketio/io.go
  runner/internal/recorder/recorder.go
  runner/internal/recorder/tracer.go
  server/handler.go
  server/message.go
  server/service.go
  server/upgrader.go
Labels: POC
